# Logs
log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# MAC
.DS_Store

# VScode
.vscode
jsconfig.json

# automation tests
allure-results

# Yarn lock file
yarn.lock

#IntelliJ *.orig files
*.orig

# Vim
.vim/
*.vim

# releases
*.zip
